<div class="pagination">
  <% if items.current_page != 1 %>
  <a href="<%= "#{path}?page=#{items.current_page - 1}" %>">&lt;prev page</a>
  <% else %>
  <span class="inactive_link">&lt;prev page</span>
  <% end %>
  &nbsp;&nbsp;&nbsp;
  <% if items.current_page != items.page_count %>
  <a href="<%= "#{path}?page=#{items.current_page + 1}" %>">next page&gt;</a>
  <% else %>
  <span class="inactive_link">next page&gt;</span>
  <% end %>
</div>
