<div class="side_navigation">
  <div class="inner">
    <h3>schemas</h3>
    <ul>
      <% Schema.order(:id).each do |schema| %>
        <li><a href="/<%= schema.id %>"><%= h schema.name %></a></li>
      <% end %>
    </ul>
    <% if current_user.admin %>
    <h3>admin</h3>
    <ul>
      <li><a href="/schema">schemes</a></li>
      <li>users</li>
    </ul>
    <% end %>
  </div>
</div>
