<%= erb :'_side_navigation', :layout => false %>
<div class="navigated_content">
  <div class="inner">
    <% if schema %>
      <div class="filter">
        All | Unapplied | Applied | Requested | Closed
      </div>
      <div class="new_action">
        [ <a href="/schema_definition/new?schema_id=<%= schema.id %>">New DDL</a> ]
      </div>
      <%= render_pagination "/#{schema.id}", schema_definitions %>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th style="width: 100%">DDL</th>
            <th style="width: 200px;"></th>
          </tr>
        </thead>
        <tbody>
          <% schema_definitions.each do |schema_definition| %>
          <tr>
            <td><%= schema_definition.id %></td>
            <td>
              <textarea class="ddl_view" readonly="readonly"><%= h schema_definition.ddl %></textarea>
              <div class="action_list">
                <a href="/schema_definition/edit/<%= schema_definition.id %>">Edit</a>
                <a href="/schema_definition/destroy/<%= schema_definition.id %>" onclick="return window.confirm('Are you sure you want to delete?');">Delete</a>
              </div>
            </td>
            <td>foo@example.com
              100
              test
              Applied
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= render_pagination "/#{schema.id}", schema_definitions %>
    <% end %>
  </div>
</div>
