<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>schmgr</title>
    <link href="/style.css" media="all" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/jquery-1.8.3.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="header_title">
          <a href="/">schmgr</a>
        </div>
        <div class="header_navigation">
          <% if login? %>
          <b><%= h current_user.email %></b> [ <a href="/profile?redirect_to=<%= URI.encode(request.path_info) %>">profile</a> | <a href="/logout">logout</a> ]
          <% else %>
          [ <a href="/login">login</a> | <a href="/signup">signup</a> ]
          <% end %>
        </div>
      </div>
      <!-- beginning of content -->
      <%= yield %>
      <!-- end of content -->
    </div>
  </body>
</html>
