    <form action="<%= action %>" method="post">
      <div>
        <label for="email">email:</label>
        <input id="email" type="text" name="email" value="<%= h user[:email] %>">
      </div>
      <div>
        <label for="admin">Admin:</label>
        <input id="admin" type="checkbox" name="admin" <%= user[:admin] ? 'checked="checked"' : '' %> >
      </div>
      <div>
        <label for="password">New Password:</label>
        <input id=password type="password" name="password">
      </div>
      <div>
        <label for="password_for_confirmation">New Password:</label>
        <input id="password_for_confirmation" type="password" name="password_for_confirmation">
      </div>
      <div>
        <input type="hidden" name="redirect_to" value="<%= h path_to_redirect %>">
        <input type="submit" value="<%= submit_label %>">
        <input type="button" value="戻る" onclick="location = '<%= h! path_to_redirect %>'">
      </div>
    </form>
