<div class="content">
  <%= render_notify(binding) %>
  <div class="inner">
    <form action="/login" method="post">
      <div>
        <label for="email">Email:</label>
        <input id="email" type="text" name="email">
      </div>
      <div>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password">
      </div>
      <div>
        <input type="hidden" name="redirect_to" value="<%= h path_to_redirect %>">
        <input type="submit" value="Login">
        <input type="reset" value="Clear">
      </div>
    </form>
  </div>
</div>
