<div class="content">
  <div class="inner">
    <%= render_notify(binding) %>
    <%= erb :'/user/_form', :locals => {
      :user => current_user,
      :action => "/profile",
      :submit_label => 'Update',
      :path_to_redirect => path_to_redirect
    } %>
  </div>
</div>
