<div class="content">
  <div class="inner">
    <%= render_notify(binding) %>
    <p>Enter the username and password!</p>
    <%= erb :'/user/_form', :locals => {
      :user => user,
      :action => "/signup",
      :submit_label => 'sign up',
      :path_to_redirect => '/',
    } %>
  </div>
</div>
