* { 
  margin:  0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: gray;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

span.inactive_link {
  color: lightgray;
  text-decoration: line-through;
}

div.container {
  width: 100%;
}

div.header {
  height:           50px;
  padding:          0 10px 0 10px;
  background-color: #3261AB;
  border-bottom:    1px solid #6A8CC7;
}

div.header a {
  color:       #FFF
}

div.header_title {
  float:       left;
  line-height: 50px;
  font-size:   24px;
  font-family: cursive;
  color:       #FFF
}

div.header_navigation {
  float:       left;
  position:    absolute;
  right:       10px;
  line-height: 50px;
  font-size:   12px;
  color:       #ccc;
}

div.side_navigation {
  float:    left;
  width:    150px;
  overflow: hidden;
}

div.navigated_content {
  margin-left: 150px;
}

div.content {
}

div.inner {
  margin: 10px;
}

div.footer {
  clear: both;
  width: 100%;
  background-color: #ccb;
}

h3 {
  margin:        10px;
  padding:       2px;
  border-bottom: 2px solid #AAAAAA;
}

ul {
  margin:     0 10px 0 10px;
  padding:    0 10px 0 10px;
  list-style: none;
}

ul li {
  margin:     5px 0 5px 0;
}

div.filter {
  margin:        5px;
  padding:       5px;
  font-size:     18px;
  border-bottom: 1px solid #758299;
}

div.new_action {
  margin:     5px 30px 5px 5px;
  padding:    5px;
  text-align: right;
}

div.action_list {
  font-size:   14px;
  text-align:  center;
  white-space: nowrap;
}

table {
  width:  96%;
  margin: 10px;
  border: 1px solid #758299;
  border-collapse: collapse;
}

table thead tr {
  background-color: silver;
}

table th, table td {
  padding: 2px 4px 2px 4px;
  border:  1px solid gray;
  text-align: left;
}

textarea.ddl_view {
  width:  100%;
  height: 50px;
}

div.pagination {
  text-align:  center;
  font-size:   14px;
}

div.notify_info {
  margin:  10px;
  padding: 10px;
  border:  1px solid #8BA7D5;
  background-color: #D5E0F1;
}

div.notify_error {
  margin:  10px;
  padding: 10px;
  border:  1px solid #E38692;
  background-color: #F6D4D8;
}

input[type="button"], input[type="submit"], button {
  padding: 1px 6px;
}
