    <form action="<%= action %>" method="post">
      <div>
        <label for="name">name</label>
        <input type="text" id="name" name="name" value="<%= h schema[:name] %>">
      </div>
      <div>
        <label for="host">host</label>
        <input type="text" id="host" name="host" value="<%= h schema[:host] %>">
      </div>
      <div>
        <label for="port">port</label>
        <input type="text" id="port" name="port" value="<%= h(schema[:port] || 3306) %>">
      </div>
      <div>
        <label for="database">database</label>
        <input type="text" id="database" name="database" value="<%= h schema[:database] %>">
      </div>
      <div>
        <label for="username">username</label>
        <input type="text" id="username" name="username" value="<%= h schema[:username] %>">
      </div>
      <div>
        <label for="password">password</label>
        <input type="password" id="password" name="password">
      </div>
      <div>
        <label for="password_for_confirmation">password</label>
        <input type="password" id="password_for_confirmation" name="password_for_confirmation">
      </div>
      <div>
        <label for="encoding">encoding</label>
        <input type="text" id="encoding" name="encoding" value="<%= h(schema[:encoding] || 'utf8') %>">
      </div>
      <div>
        <label for="git_url">git_url</label>
        <input type="text" id="git_url" name="git_url" value="<%= h schema[:git_url] %>">
      </div>
      <div>
        <label for="git_view">git_view</label>
        <input type="text" id="git_view" name="git_view" value="<%= h schema[:git_view] %>">
      </div>
      <div>
        <input type="submit" value="<%= submit_label %>">
        <input type="button" value="戻る" onclick="location = '/schema'">
      </div>
    </form>
