<div class="content">
  <div class="inner">
    <%= render_notify(binding) %>
    <%= erb :'/schema/_form', :locals => {
      :schema => schema,
      :action => "/schema/edit/#{schema.id}",
      :submit_label => 'Update',
    } %>
  </div>
</div>
