<div class="content">
  <div class="inner">
    <a href="/">トップへ</a>
    [ <a href="/schema/new">New</a> ]

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>-</th>
        </tr>
      </thead>
      <tbody>
        <% Schema.each do |schema| %>
        <tr>
          <td><%= schema.id %></td>
          <td><%= schema.name %></td>
          <td>
            <a href="javascript:void(0)" onclick="$.ajax({url:'/schema/test/<%= schema.id%>', dataType:'script'});">Test</a>
            |
            <a href="/schema/edit/<%= schema.id%>">Edit</a>
            |
            <a href="/schema/destroy/<%= schema.id %>" onclick="return window.confirm('Are you sure you want to delete?');">Delete</a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
