<div class="content">
  <%= render_notify(binding) %>
  <div class="inner">
     <%= erb :'/schema/_form', :locals => {
      :schema => defined?(schema) ? schema : {},
      :action => "/schema/new",
      :submit_label => 'Create',
    } %>
  </div>
</div>
