    <form action="<%= action %>" method="post">
      <div>
        <label for="ddl">DDL</label>
        <textarea id="ddl" name="ddl"><%= h schema_definition[:ddl] %></textarea>
      </div>
      <div>
        <label for="comment">Comment</label>
        <textarea id="comment" name="comment"><%= h schema_definition[:comment] %></textarea>
      </div>
      <div>
        <input type="hidden" name="schema_id" value="<%= schema_definition[:schema_id] %>">
        <input type="submit" value="<%= submit_label %>">
        <input type="button" value="戻る" onclick="location = '/<%= schema_definition[:schema_id] %>'">
      </div>
    </form>
