<div class="content">
  <div class="inner">
    <%= render_notify(binding) %>
    <%= erb :'/schema_definition/_form', :locals => {
      :schema_definition => schema_definition,
      :action => "/schema_definition/edit/#{schema_definition.id}",
      :submit_label => 'Update',
    } %>
  </div>
</div>
