<div class="content">
  <div class="inner">
    <%= render_notify(binding) %>
    <%= erb :'/schema_definition/_form', :locals => {
      :action => '/schema_definition/new',
      :schema_definition => {:schema_id => schema_id},
      :submit_label => 'Create',
    } %>
  </div>
</div>
